<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <img alt="RuchJow.pl" src="assets/images/ruchjow-logo.png">
        <img alt="RuchJow.pl" src="assets/images/kukiz-logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <form class="navbar-form navbar-right" role="search">
        <button type="submit" class="btn btn-default">Zaloguj</button>
        <button type="submit" class="btn btn-success">Zarejestruj</button>
      </form>

      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home">Start</a></li>
        <li><a ui-sref="join">Dołącz</a></li>
        <!--
        <li><a ui-sref="join">Komunikaty</a></li>
        <li><a ui-sref="join">Kontakt</a></li>-->
      </ul>
    </div>
  </div>
</nav>
